* {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container {
    width: 1000px;
    height: 672px;
    border: 1px solid #E5E7EB;
    background-color: #1D1F21;
    /* position: absolute; */
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    color:white;
  }
  
  .header {
    width: 100%;
    background-color: #444648;
    display: flex;
    justify-content: space-between;
  
    margin: auto;
    /* margin-top: 10px; */
    height: 35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  #tab-1 {
    border-right: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-text {
    /* font-size: 16px; */
    text-decoration: none;
    color: white;
    font-size: 20px;
    /* padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px; */
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .instruction-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-text:nth-child(1) {
    padding-left: 20px;
  }
  
  .header-text:nth-child(2) {
    padding-right: 20px;
  }
  
  .tab-create {
    font-size: 20px;
    /* padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px; */
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
  
  }
  
  .tabs {
    display: flex;
    width: 980px;
    margin: auto;
    margin-top: 0px;
    height: 35px;
  }
  
  .tab-text {
    color: white;
    text-decoration-line: none;
  }
  
  .sec-con-container {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 10px;
    width: 980px;
    height: 586px;
    /* margin: auto; */
  }
  
  .compute-sec-con-container {
    width: 980px;
    height: 586px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-flow: row;
    margin: 10px;
  
  }
  
  .sec-con {
    display: flex;
    /* flex-wrap: wrap; */
    width: 400px;
    height: 550px;
    /* margin: auto; */
  }
  
  .tableSection {
    display: inline;
    display: flex;
    width: 620px;
    height: 589px;
  }
  
  .tableSectionAnalysis {
    display: inline;
    display: flex;
    border: red solid 1px;
    width: 620px;
    height: 589px;
  }
  
  /* formula */
  .compute-sec-con-left-side-container {
    display: inline;
    display: flex;
    flex-flow: column;
    width: 330px;
    height: 652px;
  }
  
  .sec-con-table {
    display: flex;
    /* flex-wrap: wrap; */
    width: 390px;
    height: 588px;
    /* margin: auto; */
  }
  
  .analysis-sec-con-table {
    display: flex;
    /* flex-wrap: wrap; */
    width: 420px;
    height: 520px;
    /* margin: auto; */
  }
  
  .sec-con-column {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    width: 980px;
    height: 588px;
    /* margin: auto; */
  }
  
  .sec-con-column-elbow-compute-section {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    width: 340px;
    height: 588px;
    /* margin: auto; */
  }
  
  .sec-con-column-s-compute-section {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    width: 540px;
    height: 588px;
    /* margin: auto; */
  }
  
  .sec-con-column-analysis {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    width: 520px;
    height: 520px;
    /* margin: auto; */
  }
  
  .compute-sec-con-column {
    display: flex;
    flex-flow: column;
    /* flex-wrap: wrap; */
    /* width: 600px; */
    width: 479px;
    height: 588px;
    /* margin: auto; */
  }
  
  .sub-div {
    width: 480px;
    height: 280px;
    border: 1px solid #16696e;
    margin-top: 10px;
    margin: 10px;
  }
  
  .sub-div-formula {
    width: 310px;
    height: 130px;
    border: 1px solid #16696e;
    margin-top: 10px;
    margin: 10px;
  }
  
  .sub-div-cendroids {
    width: 310px;
    height: 355px;
    border: 1px solid #16696e;
    margin-top: 10px;
    margin: 10px;
  }
  
  .computeButtonContainer {
    position: absolute;
    display: flex;
    bottom: 47px;
    width: 599px;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
  }
  
  .newCentroidContainer {
    display: flex;
    width: 310px;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    height: 27px;
  }
  
  .sub-div-control {
    width: 390px;
    height: 164px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
  }
  
  .sub-div-control-elbow {
    width: 320px;
    height: 164px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
  }
  
  .sub-div-control-s {
    width: 520px;
    height: 314px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
  
  }
  
  .training-left-side-container {
    width: 570px;
    height: 164px;
    margin: 10px;
    display: flex;
  }
  
  .sub-div-table {
    width: 360px;
    height: 568px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
  }
  
  
  .compute-sub-div-table {
    width: 600px;
    height: 568px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
  }
  
  .analysis-sub-div-table {
    width: 400px;
    height: 500px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
  }
  
  .sub-div-plot {
    width: 570px;
    height: 384px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
    position: relative;
  }
  
  .sub-div-plot-Create {
    width: 570px;
    height: 384px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
    position: relative;
  }
  
  .button-compute-elbow {
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .sub-div-plot div {
    margin-top: 80px;
  }
  
  
  .sub-div-plot div input {
    width: 40px;
    height: 30px;
  }
  
  .sub-div-plot-analysis {
    width: 500px;
    height: 500px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
    border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
  }
  
  .header-box {
    width: 100%;
    background-color: #FF6600;
    color: White;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 18px;
    text-align: center; border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Button style */
  .button {
    width: 120px;
    font-size: 20px;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;
    padding: 3px;
    font-weight: bold;
    margin: 12px 0px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  #button-SEPARATION {
    width: 150px;
    font-size: 20px;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;
    padding: 3px;
    font-weight: bold;
    margin: 12px 0px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  
  .swal-cancel-button {
    background-color: #e85c5c !important;
    /* Set your desired background color */
    color: #ffffff;
    /* Set your desired text color */
  }
  
  
  
  .button-next-compute {
    width: 80px;
    font-size: 20px;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;
    padding: 3px;
    font-weight: bold;
    margin: 12px 0px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .button-new-cendroids {
    width: 200px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;
    padding: 3px;
    font-weight: bold;
    margin: 12px 0px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .button-compute {
    width: 90px;
    font-size: 20px;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;
    padding: 3px;
    font-weight: bold;
    margin: 12px 0px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .button-next {
    width: 120px;
    font-size: 20px;
    cursor: not-allowed;
    color: white;
    background-color: #c5e5e7;
    outline: none;
    border-radius: 20px;
    border: 2px #c5e5e7 solid;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  
  }
  
  .delete-button {
    width: 90px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: red;
    outline: none;
    border-radius: 20px;
    border: 2px red solid;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  
  }
  
  .button-add-data-point {
  
    width: 180px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color:#ffffa1;
    background-color: #ff983f;
    outline: none;
    border-radius: 20px;
    border: 2px #ff983f solid;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  
  }
  
  .button-next-compute:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  .button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  #button-COHESION:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  #button-SEPARATION:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  .button-new-cendroids:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  .button-compute:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  .delete-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  /* .disableCompute:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  } */
  
  .disableCompute {
    /* opacity: 0.6; */
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  .button-add-data-point:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  
  .button:hover {
    color: #ff983f;
    background-color: white;
    font-weight: bold;
  
  }
  
  #button-SEPARATION:hover {
    color: #ff983f;
    background-color: white;
    font-weight: bold;
  
  }
  
  .delete-button:hover {
    color: red;
    background-color: white;
    font-weight: bold;
  
  }
  
  .button-add-data-point:hover {
    color: #ff983f;
    background-color: white;
    font-weight: bold;
  
  }
  
  
  
  .footer {
    width: 100%;
    height: 4%;
    background-color: #444648;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;  border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .footer-text {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    width: 1000px;
    height: 570px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border-radius: 10px;
  }
  
  
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
  
    to {
      top: 0;
      opacity: 1
    }
  }
  
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0
    }
  
    to {
      top: 0;
      opacity: 1
    }
  }
  
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #FF6600;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #2c2e30;
    color: #FF6600;
  
  }
  
  .modal-body {
    padding: 2px 16px;
  }
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #2c2e30;
    color: #FF6600;
  }
  
  
  #myBtn:hover {
    cursor: "pointer";
  }
  
  
  /*swal*/
  .position-absolute {
    position: absolute !important;
    backdrop-filter: blur(6px);
  
  }
  
  .swal2-popup {
    font-size: 1rem !important;
    font-family: Georgia, serif;
  }
  
  .flux-box {
    display: flex;
    justify-content: space-evenly;
  }
  
  
  
  
  /* controls */
  .control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 138px;
  }
  
  .control-panel-button-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 164px;
    width: 180px;
  }
  
  .Data-set-x-value-input-container {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .Data-set-K-value-input-container {
    width: 100%;
    height: 136px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #mymethod {
    margin: auto;
    width: 500px;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .Data-set-cendroid-value-input-container {
  
    width: 100%;
    height: 116px;
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: space-evenly;
  }
  
  .flexContainerForSelectingCentoinds {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
  }
  
  .control-panel-create-frist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    height: 175px;
  }
  
  .input-control {
    width: 120px;
    height: 30px;
    text-align: center;
  }
  
  .control-input-heading {
    font-size: 24px;
    cursor: pointer;
  }
  
  
  
  
  #chart-container {
    width: 569px;
    height: 358px;
    display: block !important;
  }
  
  svg{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  
  #tablesContainer {
    width: 360px;
    height: 535px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #ComputeTablesContainer {
    width: 599px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
  
  }
  
  #analysisTablesContainer {
    width: 399px;
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }
  
  table {
    /* border-collapse: collapse; */
    position: absolute;
    top: 7%;
    width: 80%;
    /* height: 70%; */
  }
  
  
  th{
    background-color: #e0e0e0;
    color:black;
  }
  
  
  th,
  td {
    border: 1px solid #e0e0e0;
    padding: 8px;
    text-align: center;
    width: 22%;
    height: 10px;
    /* height: 32.5px; */
  }
  
  table,
  td {
    border: 1px solid #e0e0e0;
  }
  
  
  
  
  #box {
    position: relative;
  
  }
  
  .swal-container {
    width: 1000px;
    height: 672px;
    padding: 0px;
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    border-radius: 10px;
  }
  
  .swal-container:target {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  
  }
  
  
  .swal-popup {
    margin: 160px 30px;
    width: auto !important;
    max-width: 100% !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    min-width: 30% !important;
  }
  
  .swal-popup-custom {
    margin: 160px 30px;
    width: auto !important;
    max-width: 50% !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    min-width: 30% !important;
  }
  
  .swal-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .swal-content {
    font-size: 18px;
  }
  
  
  
  #chart {
    height: 354px;
    width: 569px;
  }
  
  
  .tab-1-invert {
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;
    cursor: pointer;
    /* border-right: 2px solid black; */
    text-decoration: none;
  }
  
  .tab-1-index {
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;
    text-decoration: none;
  }
  
  .tab-2-invert {
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;
    cursor: pointer;
    /* border-right: 2px solid black; */
    text-decoration: none;
  }
  
  .tab-1-disInvert {
    background-color: #444648;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;
    cursor: not-allowed;
    /* border-right: 2px solid black; */
    text-decoration: none;
  }
  
  .tab-2-disInvert {
    background-color: #444648;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 10px;
    cursor: not-allowed;
    /* border-right: 2px solid black; */
    text-decoration: none;
  }
  
  #tab-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid black 2px;
  }
  
  #tab-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid black 2px;
  
  }
  
  .displayHidden {
    display: none;
  }
  
  #google-visualization-errors-0 {
    display: none;
  }
  
  #google-visualization-errors-all-5 {
    display: none;
  }
  
  #google-visualization-errors-4 {
    display: none;
  }
  
  #google-visualization-errors-all-3 {
    display: none;
  }
  
  /* #google-visualization-errors-11 {
    display: none;
  
  } */
  
  
  /* compute style */
  body {
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #chartContainer {
    width: 569px;
    height: 352px;
    margin: auto;
  }
  
  .methodStyle {
    width: 150px;
    height: 30px;
    font-size: 17px;
    color: black;
    background-color: white;
    text-align: center;
  }
  
  .cendroidStyle {
    width: 110px;
    height: 30px;
    /* border: red solid 1px; */
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .ClusterStyle option {
    /* width: 15px; */
    /* height: 10px; */
    /* border: red solid 1px; */
    color: black;
    border: #000 solid 1px;
    /* background-color: white; */
    text-align: center;
  }
  
  /* .ClusterStyle+.select2-container .select2-selection__rendered { */
  /* background-color: red; */
  /* } */
  
  /* .ClusterStyle+.select2-container .select2-results__option:hover { */
  /* background-color: red; */
  /* } */
  
  .ClusterStyle option:hover {
    /* width: 15px; */
    /* height: 10px; */
    /* border: red solid 1px; */
    color: black;
    border: #000 solid 1px;
    background-color: #16696F;
    text-align: center;
  }
  
  .ClusterStyle option:hover {
    background-color: #16696F;
  }
  
  .ClusterStyle option[selected] {
    background-color: #16696F;
  }
  
  option:hover {
    background-color: #16696F;
  }
  
  .cendroidStyle option {
    /* width: 15px; */
    /* height: 10px; */
    /* border: red solid 1px; */
    color: black;
    border: #000 solid 1px;
    /* background-color: white; */
    text-align: center;
  }
  
  .cendroidStyle option:hover {
    /* width: 15px; */
    /* height: 10px; */
    /* border: red solid 1px; */
    color: black;
    border: #000 solid 1px;
    background-color: #16696F;
  
    /* background-color: white; */
    text-align: center;
  }
  
  .control-control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-flow: column; */
    display: block;
    height: 138px;
  }
  
  .cluster-panel-button-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 164px;
    width: 180px;
  }
  
  .cendroid-panel-button-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    height: 164px;
    width: 180px;
  }
  
  
  /* 
  table,
  th,
  td {
    border: 1px solid black;
    border-style: double;
  } */
  
  
  .delete-button {
    width: 60px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: red;
    outline: none;
    border-radius: 20px;
    border: 2px red solid;
    padding: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  
  
  .error {
    border: 2px solid red;
  }
  
  .selected-row-cell {
    border: 2px solid red;
  }
  
  /* Custom styles for tooltip */
  .custom-tooltip {
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    padding: 6px 8px;
  }
  
  
  .k-show-elbow {
    font-size: 22px;
    padding-left: 37px;
    padding-top: 25px;
    text-align: left;
  }
  
  
  .sub-div-control {
    margin-bottom: 20px;
  }
  
  .sub-div-control-elbow {
    margin-bottom: 20px;
  }
  
  .header-box {
    font-size: 18px;
    font-weight: bold;
  }
  
  .cendroidStyle {
    width: 150px;
  }
  
  
  #data-table .selected {
    border: red 3px solid;
  }
  
  .selected {
    border: 2px solid #FF6600;
  }
  
  .highlight-cell {
    background-color: white;
  }
  
  .Kcells {
    border: 3px solid red;
  
  }
  
  .Kcells:disabled {
  
    opacity: 0.6;
    cursor: not-allowed;
    font-weight: bold;
  
  }
  
  
  
  tr.highlight td:first-child {
    background-color: yellow;
  }
  
  tr.disabled td {
    background-color: #f2f2f2;
    color: gray;
  }
  
  tr.disabled td:hover {
    cursor: not-allowed;
  }
  
  .disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }
  
  .disabled:hover {
    /* background-color: #f2f2f2; */
    cursor: not-allowed;
  }
  
  .highlight {
    /* background-color: yellow; */
    border: solid 2px red;
    cursor: pointer;
  }
  
  .highlight-cell {
  
    background-color: #ffc198;
  }
  
  .equation {
    cursor: pointer;
    /* border: 1px solid #000; */
    padding: 5px 0px;
    font-size: 23px;
  
  }
  
  .formula-container {
    display: flex;
    justify-content: center;
    padding: 0px 25px;
    align-items: baseline;
    height: 102px;
    flex-flow: column;
  }
  
  .cenroidsContainer {
    width: 90%;
    height: 83%;
    align-items: start;
    display: flex;
    flex-flow: column;
    padding: 5%;
  }
  
  .cenroidsContainerOld {
    width: 96%;
    height: 50%;
    align-items: start;
    display: flex;
    flex-flow: column;
    padding: 2%;
  }
  
  .cenroidsContainerNew {
    width: 96%;
    height: 38%;
    align-items: start;
    display: flex;
    flex-flow: column;
    padding: 2%;
  }
  
  .cenroidsContainer p {
    font-size: 17px;
    padding: 3px 2px;
    margin: 0px;
    font-weight: bold;
  }
  
  .cenroidsContainer div {
    text-align: left;
    font-size: 17px;
    padding: 3px 2px;
    margin: 0px;
    font-weight: bold;
  
  }
  
  .highlighted-row {
    background-color: yellow;
  }
  
  #sse-table {
    /* border-collapse: collapse; */
    position: absolute;
    top: 10%;
    width: 80%;
    /* /* height: 70%; */
  }
  
  #data-table {
    /* order-collapse: collapse; */
    position: absolute;
    top: 8%;
    width: 80%;
    /* /* height: 70%; */
  }
  
  .analysis-button-container {
    width: 960px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
  }
  
  
  #scatter-chart {
    height: 475px;
    width: 499px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #legend {
    margin-top: 11px;
    display: flex;
    justify-content: center;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .legend-color {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  
  .legend-label {
    font-size: 14px;
  }
  
  #data-table-compute {
    /* border-collapse: collapse; */
    position: absolute;
    overflow: auto;
    top: 2%;
    width: 80%;
    /* top: 8.5%;
    width: 100%; */
    /* /* height: 70%; */
  }
  
  #s-table-compute {
    /* border-collapse: collapse; */
    position: absolute;
    overflow: auto;
    top: 7.5%;
    width: 80%;
    /* top: 8.5%;
    width: 100%; */
    /* /* height: 70%; */
  }
  
  .overflowContainer {
    overflow: auto;
    top: 15%;
    width: 80%;
    /* margin: auto; */
  }
  
  .swal-popup-right {
    left: auto !important;
    right: 0 !important;
    transform: translateX(0) !important;
  }
  
  
  .swal2-popup {
    left: auto !important;
    right: 0 !important;
    transform: translateX(0) !important;
  }
  
  /* .ChangeOptionBackground {
    background-color: yellow;
  } */
  
  /* .ChangeOptionBackground:hover {
    background-color: #16696e !important;
    color: white;
    border: red solid;
  } */
  
  .select2-selection__choice
  {
  color:black;
  }
  
  .select2-results__option--highlighted {
    background-color: #ffc198 !important;
    color:black;
  }
  
  .select2-selection__choice__remove {
    display: none !important;
  }
  
  
  .disable-cursor {
    cursor: not-allowed;
  }
  
  .select2-selection {
    cursor: pointer;
  }
  
  .select2-selection--multiple {
    cursor: pointer;
  }
  
  .select2-selection__rendered {
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  
  /* ads;fkjhjksdfnjkkhldsj */
  .sec-con-table-elbow-compute {
    display: flex;
    /* flex-wrap: wrap; */
    width: 640px;
    height: 588px;
    /* margin: auto; */
  }
  
  .sec-con-table-s-compute {
    display: flex;
    /* flex-wrap: wrap; */
    width: 440px;
    height: 588px;
    /* margin: auto; */
  }
  
  .sub-div-table-elbow-compute {
    width: 620px;
    height: 568px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
   border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
  }
  
  .sub-div-table-s-compute {
    width: 420px;
    height: 568px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
   border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    margin: 10px;
  }
  
  #tablesContainer-elbow-compute {
    width: 620px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }
  
  #tablesContainer-s-compute {
    width: 420px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }
  
  #data-table-elbow-compute {
    /* order-collapse: collapse; */
    position: absolute;
    top: 8%;
    width: 80%;
    /* /* height: 70%; */
  }
  
  .sub-div-plot-elbow-compute {
    width: 320px;
    height: 384px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
   border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
    position: relative;
  }
  
  .sub-div-plot-s-compute {
    width: 520px;
    height: 234px;
    border: 0px solid #E5E7EB;
    background-color: #2c2e30;
   border-radius: 10px;
   color:white;
   box-shadow:
   -1px 0 8px 0 #E5E7EB,
   20px 20px 20px 0 rgba(34, 33, 81, 0.25);
  transition:
   .4s ease-in-out transform,
   .4s ease-in-out box-shadow;
    /* margin-top: 10px; */
    margin: 10px;
    position: relative;
  }
  
  
  .elbow-compute-left-side-container {
    width: 320px;
    height: 164px;
    margin: 10px;
    display: flex;
  }
  
  .s-compute-left-side-container {
    width: 520px;
    height: 314px;
    margin: 10px;
    display: flex;
  }
  
  .flexContainerForCompute {
    display: flex;
    flex-flow: column;
  
  }
  
  .elbow-compute-table-button-container {
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: space-around;
    width: 80%;
  }
  
  .button-compute-elbow {
    display: flex;
    position: absolute;
    bottom: 15px;
    justify-content: space-around;
    width: 100%;
  
  }
  
  .button-compute-s {
    display: flex;
    position: absolute;
    bottom: 15px;
    justify-content: space-around;
    width: 100%;
  
  }
  
  #elbow-compute {
    display: flex;
  }
  
  #s-compute {
    display: flex;
  }
  
  
  
  .selected td {
    border: blue 3px solid;
  }
  
  
  
  
  #calculation {
    text-align: left;
    padding: 20px;
  }
  
  #showOldCentroids {
    width: 316px;
    height: 134px;
    display: flex;
    flex-wrap: wrap;
  }
  
  #showOldCentroids p {
    padding: 0%;
    margin: 0px 12px;
  }
  
  #showOldCentroids div {
    padding: 0%;
    margin: 0%;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
  }
  
  #calculation {
    height: 235px;
    width: 276px;
    overflow: auto;
  }
  
  .colored-point-0 {
    color: red;
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  .colored-point-1 {
    color: rgb(52, 231, 52);
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  .colored-point-2 {
    color: rgb(235, 235, 31);
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  .colored-point-3 {
    color: rgb(236, 14, 236);
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  .colored-point-4 {
    color: rgb(207, 168, 243);
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  .colored-point-5 {
    color: blue;
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  .colored-point-6 {
    color: rgb(15, 174, 236);
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  .colored-point-7 {
    color: rgb(240, 213, 63);
    /* Set your desired color here */
    font-weight: bold;
    /* You can customize this as well */
    /* Add any other styling you want */
  }
  
  
  #calculation input {
    width: 50px;
    margin: 10px 5px;
  }
  
  .calculation-sse {
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 155px;
  }
  
  .highlighted-sse {
    /* background-color: yellow; or any other style you want for highlighting */
    border: 1px red solid;
  }
  
  
  /* Define styles for highlighting clusters */
  .cluster-1 {
    background-color: yellow;
    font-weight: bold;
  }
  
  .cluster-2 {
    background-color: orange;
    font-weight: bold;
  }
  
  .swal2-html-container {
    font-size: 18px !important;
  }
  
  .swal2-title {
    font-size: 25px !important;
  }
  
  .sse-container {
    margin: 1px 0;
    display: flex;
    align-items: baseline;
  }
  
  
  .s-input-container {
    height: 67px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding: 25px;
  }
  
  .s-avg-input-container {
    height: 67px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding-top: 40px;
  
  }
  
  .s-input {
    width: 50px;
    margin: 0px 10px;
    font-size: 18px;
  }
  
  .input-container-s-avg {
    display: flex;
    width: 80%;
    align-items: center;
  }